*, *::before, *::after{
  margin: 0;
  box-sizing: inherit;
}

:root{
  --col-grey: hsl(0, 0%, 41%);
  --col-dark: hsl(0, 0%, 8%);
  
/* xxl 1080 xl 920 xm 720 xs 480 */
  --xxlViewport: 1080px;
  --xlViewport: 920px;
  --xmViewport: 720px;
  --xsViewport: 480px;
}

html {
  box-sizing: border-box;
}

p, a, li, h1, h2, button{
  font-size: 16px;
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
}

p{
  line-height: 1.5;
}

@media ( max-width: 480px ) {
  p, a, li, h1, h2, button{
    font-size: 14px;
  }
}

/* ESTILOS TAMAÑOS */
.container{
  width: min(95%, 1350px);
  margin: 0 auto;
}

.contain {
  object-fit: contain;
}

.width80{
  width: 80%;
}

.width100{
  width: 100%;
}

@media ( max-width: 720px ) {
  .width80{
    width: 100%;
  }
}

/* FLEXBOX */
.flex{
  display: flex;
}

.f-column{
  flex-direction: column;
}

.f-auto{
  flex: 1;
}

.s-between{
  justify-content: space-between;
}

.col-center{
  align-items: center;
}

.jus-center{
  justify-content: center;
}

.col-gap-1{
  column-gap: 5px;
}

.col-gap-2{
  column-gap: 10px;
}

.col-gap-3{
  column-gap: 20px;
}

.col-gap-5{
  column-gap: 50px;
}

@media ( max-width: 720px ) {
  .f-column-rev-xl{
    flex-direction: column-reverse ;
  }

  .f-auto-xl{
    flex: none;
  }

  .jus-center-xl{
    justify-content: center;
  }
}

/* PADDING */
.p-1{
  padding: 5px;
}

.p-2{
  padding: 10px;
}

.p-3{
  padding: 15px;
}

.p-4{
  padding: 20px;
}

.pl-1{
  padding-left: 5px;
}

.pl-5{
  padding-left: 25px
}

.py-1{
  padding: 4px 0 4px 0;
}

.py-3{
  padding-top: 10px;
  padding-bottom: 10px;
}

.px-2{
  padding-left: 7.5px;
  padding-right: 7.5px;
}

.px-5{
  padding-left: 18px;
  padding-right: 18px;
}

/* MARGIN */
.mt-1{
  margin-top: 5px;
}

.mt-2{
  margin-top: 10px;
}

.mt-3{
  margin-top: 15px;
}

.mt-5{
  margin-top: 25px;
}

/* LETRAS ESTILOS */
.bold{
  font-weight: bold;
}

.txt-right{
  text-align: right;
}

.txt-center{
  text-align: center;
}

@media ( max-width: 720px ) {
  .txt-center-xl{
    text-align: center;
  }
}

/* TAMAÑOS LETRAS */
.h1{
  font-size: 100px;
  font-weight: 700;
}

.size-auto{
  font-size: 16px;
}

.size-1{
  font-size: 18px;
}

.size-2{
  font-size: 21px;
}

.size-3{
  font-size: 24px;
}

.size-4{
  font-size: 26px;
}

.size-5{
  font-size: 30px;
}

.size-6{
  font-size: 36px;
}

@media ( max-width: 720px ) {
  .h1{
    font-size: 50px;
  }
}

@media ( max-width: 480px ) {
  .h1{
    font-size: 30px;
  }

  .size-auto-xs{
    font-size: 14px;
  }
}

/* COLORES */
.col-grey{
  color: var(--col-grey);
}

.col-dark{
  color: var(--col-dark)
}

/* ESTILOS */
.pointer{
  cursor: pointer;
}

.rotate{
  transform: rotate(180deg);
}

.transition{
  transition: .3s all ease;
}

/* BORDERS */
.border-grey{
  border: 1px solid var(--col-grey);
  border-radius: 10px;
}

.border-dark{
  border: 1px solid var(--col-dark);
  border-radius: 10px;
}

.relative{
  position: relative;
}

/* BUTTONS */
.btn{
  outline: none;
  padding: 20px 30px;
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid var(--col-dark);
  transition: .3s all ease;
}

.btn-dark{
  background-color: var(--col-dark);
  color: #fff;
}

.btn-transparent{
  background: transparent;
  color: #000;
}

.btn-hover-transparent:hover{
  background: transparent;
  color: #000;
  transition: .3s all ease;
}

/* DISPLAY */

.d-none{
  display: none;
}

@media ( max-width: 920px ) {
  .d-none-xl{
    display: none;
  }

  .d-visible-xl{
    display: inherit
  }
}