.container-image{
    position: relative;
    width: 100%;
    height: 700px;
    flex: 1;
}

@media ( max-width: 720px ) {
    .container-image{
        flex: none;
        height: 500px;
    }
}

@media ( max-width: 480px ) {
    .container-image{
        flex: none;
        height: 400px;
    }
}