.nav-responsive{
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    width: min(300px, 90%);
    height: 100%;
    transform: translateX(100%);
    transition: transform .3s ease;
    padding: 30px;
    z-index: 2;
}

.nav-responsive-open{
    transition: transform .3s ease;
    transform: translateX(0%);
}